<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <br>
    <h2> bienvenue cher utilisateur ! </h2>
    <br>
    <p>stay tuned :-) la liste des potins arrive bientôt en attendant, tu peux créer un nouveau <a href="/gossips/new/">potin</a>. </p>
  </body>
</html>